.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  font-size: 16px;
}

.searchBar label {
  display: none;
}

.searchInput {
  width: 20em;
  min-width: 12em;
  height: 32px;
  margin-right: 16px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid var(--borders-color-primary);
}

.searchInput::placeholder {
  color: var(--text-color-primary);
}
