.dangerButton {
  width: 194px !important;
  height: 50px !important;
  border: 1px solid #ef0606 !important;
  background-color: #ef0606 !important;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
