.listBooksPage {
  min-height: var(--content-min-height);
  margin-bottom: 104px;
  padding-top: 32px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.filterActions {
  max-width: 47%;
  margin: 0 auto 32px auto;
}

.sortActions {
  width: 100%;
  margin-left: 8px;
  list-style-type: none;
}

.sortActions li {
  display: inline-block;
}

.sortActions li:not(:last-of-type) {
  margin-right: 48px;
}

.sortActions li a,
.sortActions li a:hover,
.sortActions li a:active,
.sortActions li a:visited {
  color: var(--text-color-links);
  text-decoration: underline;
}

.booksTable {
  width: 100%;
  border-collapse: collapse;
}

.booksTable th,
.booksTable td {
  padding: 12px 0 12px 20px;
  color: #111111;
  text-align: left;
}

.booksTable th {
  background-color: var(--primary-color);

  font-size: 14px;
  font-weight: 400;
}

.booksTable td {
  padding-left: 8px;
  font-size: 16px;
  border-bottom: 1px solid #dfdfdf;
}

.ctaBtnCont {
  margin-top: 64px;
  text-align: center;
}

.addBookBtn {
  width: 500px !important;
  height: 54px !important;
  margin: 0 auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .filterActions {
    max-width: 56%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .filterActions {
    max-width: 76%;
  }
}

@media screen and (max-width: 767px) {
  .filterActions {
    max-width: 100%;
    margin-top: 16px;
  }

  .sortActions {
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 6px;
    justify-items: center;
  }

  .sortActions li:not(:last-of-type) {
    margin-right: 0;
  }

  .booksTable .bookId,
  .booksTable .createdAt,
  .booksTable .updatedAt {
    display: none;
  }
  .addBookBtn {
    width: 100% !important;
  }
}
